BootstrapIP: "172.60.0.62"
Datacenter: "/NetApp-HCI-Datacenter-01"
Datastore: "/NetApp-HCI-Datacenter-01/datastore/NetApp-HCI-Datastore-01"
Folder: "/NetApp-HCI-Datacenter-01/vm/rancher"
ManagementNetwork: "/NetApp-HCI-Datacenter-01/network/VM_Network"
ResourcePool: "/NetApp-HCI-Datacenter-01/host/NetApp-HCI-Cluster-01/Resources/rancher"
VcenterServer: "172.60.0.151"
VsphereUsername: "administrator@vsphere.local"
VspherePassword: "NetApp1!!"
ClusterName: "rke-mgmt-cluster"
KubernetesVersion: "v1.17.4-rancher1-3"
ControlPlaneMachineCount: "1"
WorkerMachineCount: "2"
LogFile: "/tmp/cluster-engine.log"
